<!-- 공백 -->
<div class="row" style="height:70px;"></div>
<!-- body -->
<div class="container">
    <h1>새 접수 항목</h1>
    <hr>
    <!-- 공백 -->
    <div class="row" style="height:30px;"></div>

    <%= form_for @post, url: 'create' do |f| %>

        <div class="container">
            <p>제목  <%= f.text_field :title %></p>
            <p>기간  <%= f.date_field :start%> ~ <%= f.date_field :end %></p>
            <p>설명  <%= f.text_field :content %></p>
        </div>
        <br>
        <p>기본 항목 추가</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="hidden" name="stu[1]" value="이름">이름
                        </span>
                        <span class="input-group-addon">
                            <input type="hidden" name="stu[2]" value="학번">학번
                        </span>
                        <span class="input-group-addon">
                            <input type="checkbox" name="stu[3]" value="학년">학년
                        </span>
                        <span class="input-group-addon">
                            <input type="checkbox" name="stu[4]" value="전화번호">전화번호
                        </span>
                        <span class="input-group-addon">
                            <input type="checkbox" name="stu[5]" value="이메일">이메일
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:30px;"></div>
        <script>
        function add_field()
        {
            var total_text=document.getElementsByClassName("input_text");
            total_text=total_text.length+1;

            var wrapper = document.createElement("p");
            wrapper.id = "input_text" + total_text + "_wrapper";

            var additional_input = document.createElement("input");
            additional_input.id = "input_text" + total_text;
            additional_input.className = 'input_text';
            additional_name = "additional[" + total_text + "]";
            additional_input.setAttribute('name', additional_name);
            additional_input.setAttribute('type', 'text');

            var additional_delbutton = document.createElement("input");
            additional_delbutton.className = 'btn btn-secondary';
            additional_delname = "input_text" + total_text;
            additional_delbutton.setAttribute('value', '제거');
            additional_delbutton.setAttribute('style', 'margin-left:50px; width:70px');
            additional_delbutton.setAttribute('onclick', "remove_field(\"" + additional_delname + "\")");

            var tap = document.createTextNode("\t");

            wrapper.appendChild(additional_input);
            wrapper.appendChild(tap);
            wrapper.appendChild(additional_delbutton);

            document.getElementById("field_div").appendChild(wrapper);
        }
        function remove_field(id)
        {
            var wp = document.getElementById(id+"_wrapper");
            wp.parentNode.removeChild(wp);
        }
        </script>

        <div id="wrapper">
            <div id="field_div">
                <input type="button" class="btn btn-secondary" value="항목추가" onclick="add_field();">
            </div>
        </div>

        <%= f.submit "제출", class:"btn btn-primary float-right" %>
        <br>
    <% end %>
</div>
