<h3><%= @post.title %></h3>
<h5><%= @post.content %></h5>

<p>마감기한 : ~<%= @post.end %></p>

<div class="col-offset-3 col-md-5">
<form method="post" action="/uviewer/apply" name="applyform" onsubmit="return validateForm()">
    <div class="form-group">
        <label>이름</label>
        <input type="text" class="form-control" placeholder="ex) 홍길동" name="name">
    </div>
    <div class="form-group">
        <label>학번</label>
        <input type="text" class="form-control" placeholder="ex) 20xxxxxxxx" name="stid">
    </div>
    <% if (@form.attribute_names.include? '이메일') == true %>
        <div class="form-group">
            <label>이메일</label>
            <input type="email" class="form-control" placeholder="name@example.com" name="email">
        </div>
    <% end %>
    <% if (@form.attribute_names.include? '전화번호') == true %>
        <div class="form-group">
            <label>전화번호 (010-xxxx-xxxx)</label>
            <input type="text" class="form-control" pattern="^\d{3}-\d{4}-\d{4}$" placeholder="010-xxxx-xxxx" name="pno">
        </div>
    <% end %>
    <% if (@form.attribute_names.include? '학년') == true %>
        <div class="form-group">
            <label>학년</label>
            <select class="form-control" name="grade">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            </select>
        </div>
    <% end %>
    <% @form.attribute_names.select{|n| n != "이름" && n != "학번" && n != "이메일" && n != "전화번호" && n != "학년" && n != "id" && n != "created_at" && n != "updated_at"}.each do |additional| %>
        <div class="form-group">
            <label><%= additional %></label>
            <input type="text" class="form-control" name="<%= additional %>">
        </div>
    <% end %>
    <input type="hidden" value="<%= @post.id %>" name="post_id">
    <input type="submit" class="btn btn-primary" value="신청">
    <%= link_to "뒤로가기", '/' %>
</form>

<a href="/">취소하고 목록으로</a>
</div>

<script>
    function validateForm() {
        var x = document.forms["applyform"]["name"].value;
        var y = document.forms["applyform"]["stid"].value;
        // var phoneno = /^\(?([0-9]{3})\)?[-]?([0-9]{4})[-]?([0-9]{4})$/;
        if (x == "") {
            alert("이름은 반드시 입력해야 합니다.");
            return false;
        }
        if (y == "") {
            alert("학번은 반드시 입력해야 합니다.");
            return false;
        }
        // if((inputtxt.value.match(phoneno))
        // {
        //     return true;
        // }
        // else
        // {
        //     alert("전화번호는 반드시 xxx-xxxx-xxxx의 형식이어야 합니다. 하이픈을 추가해주세요.");
        //     return false;
        // }
    }
</script>
