<h1>관리자 로그인</h1>

   <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><%= value %></div>
   <% end %>

<%= form_tag '/login' do %>

  ID: <%= text_field_tag :name %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "로그인" %>

<% end %>
