<!DOCTYPE html>
<html>
  <head>
    <title>ì†Œí”„íŠ¸ì›¨ì–´í•™ê³¼ ì„œìš¸ì–´ì½”ë“œ ì‚¬ì—…ë‹¨ ì‹ ì²­ í˜ì´ì§€</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: #3d5c5c;*/
    color: black;
    text-align: center;
}
</style>
  </head>

  <body style="margin-left: 80px; margin-top: 50px; margin-right: 50px">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


        <a href="http://softcon.cbnu.ac.kr:3000/"><img src="/accord_img.jpeg" alt="" width="70%" height="70%" style="margin-left: 100px;" ></a>
    <!-- </div> -->
<!-- <div style="padding-top:50px"><h2>ì‹ ì²­ í˜ì´ì§€</h2> -->
    <% if current_user%>
        <%= link_to 'ë¡œê·¸ì•„ì' , '/apply/login', class: 'float-right' %>
        <%= render "layouts/header" %>
    <% else %>
        <%= link_to 'ê´€ë¦¬ì ', '/apply/log', class: 'float-right' %>
    <% end %>
    <br><br>
    <%= yield %>
    <br>
    <br>
    <%= render "layouts/footer" %>
  </body>
</html>
